.my-card .title{
    color: #510909;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
.img-rad img{
    width: 130px;
}
.my-card{
    margin-right: 30px;
}
#num1 .owl-dots button{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 5px;
}
#num1 .owl-dots button.active{
    background: #fff;
}
#num1{
    position: relative;
}
#num1 .owl-dots{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#num1 .owl-nav button{
    position: absolute; 
    top: 50%;
    transform:translateY(-50%);
}
#num1 .owl-nav span{
    font-size: 80px;  
    color: #fff;  
    opacity: 0;
    text-shadow: 0px 0px 10px #dedede;
    transition: all 0.7s;
}
#num1:hover .owl-nav span{
    opacity: 1;
}
#num1 .owl-next{
    right: 10px;
}
#num1 .owl-prev{
    left: 10px;
}
.wrap-slider {
    position: relative;
    z-index: -1;
}
.w-600p{
    width: 600px;
}
.wrap-ytb iframe{
    width: 100%;
    height: 500px;
}

/* ---- songbai ------ */
.tab-collapse .card{
    border: none;
    margin-bottom: 5px;
}
.tab-collapse .card-body{
    padding: 0;
}
.tab-collapse .card-header{
    background: #650B0B;
    text-align: center;
    padding: 0;
    border-radius: 8px;
}
.tab-collapse .card-header .btn{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.tab-collapse .card-header .btn:hover{
    text-decoration: none;
}
.tab-collapse .wrap-list a{
    display: block;
    font-weight: 600;
    color: #282828;
    font-style: italic;
    padding: 10px 15px;
    border-bottom: 1px solid #dedede;
}
.tab-collapse .wrap-list li:last-child a{
    border: none;
}
.tab-collapse .wrap-list a>img{
    position: relative;
    top: -2px;
}

/* ----- khuyenmai ------ */
.vertical-post{
    border-bottom: 1px solid #dedede;
    padding: 20px 0px;
    margin-top: 20px;
}
.vertical-post a.title{
    color: #650B0B;
    font-weight: 300;
    font-size: 15px;
}
.vertical-post a.btn-detail{
    background: #650B0B;
    font-weight: 300;
    color: #fff;
    padding: 7px 20px;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    font-size: 13px;
}
.vertical-post .text{
    font-size: 13px;
}
.vertical-post .img{
    width:200px;
    overflow: hidden;
}
.vertical-post .img img{
    transition: all 0.7s;
    width: 100%;
}
.vertical-post .img img:hover{
transform: scale(1.4,1.4);
}
/* ----- cuphaptn ----- */
.style-message .card-header{
    
    background: #E8E6E7;
    border-radius: 0;
    padding: 3px 0px;
}
.style-message .card-header .btn{
    color: #282828;
    text-align: left;
    font-size: 16px;
    position: relative;
    padding-left: 50px;
}
.stateoff{
    background: #650B0B;
    border-radius: 3px;
    color: #fff;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    text-align: center;
}
.get-bank{
    color: #000;
    background: #EADE72;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    margin: 15px 0px;
}
.c-blue{
    color: #01487e;
}
.wrap-text{
    padding: 20px 20px;
}
/* -----contact----- */
.contact a{
    font-size: 30px;
    color: #650B0B;
    font-weight: 900;
    position: relative;
    top: 5px;
    left: 10px;
}

.w-600p{
    width: 100%;
}
.fix-width .item{
    width: 48%;
}
.item-slider{
    padding-right: 25px;
}
/* ----- naptien ----- */
.title-bg-0{
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 15px;
}
.c-main{
    color: #b30c0c;
}
.fsize-24{
    font-size: 24px;
}
.text{
    font-size: 13px;
    margin-bottom: 8px;
}
.btn-money{
    transition: all 0.4s;
}
.btn-money:hover{
    opacity: 0.5;
}
/* ----- gioithieu ----- */
.title-under{
    color: #650B0B;
    text-transform: uppercase;
    border-bottom: 1px solid #650B0B;
    padding: 15px 0px;
}
.c-yel-1{
    color: #ebe073;
}
.daily .nav-tabs {
    border-bottom: 1px solid #ebe073;
}
.daily .nav-tabs .nav-link {
    color: #000;
    border-radius: 0;
    padding: 12px;
    background-color: #F2F2F2;
    border: 1px solid #E7E7E7;
    border-left:0px;
}
.daily .nav-tabs .nav-link:last-child{
    border-right:0px;
}
.daily  .nav-link.active{
    border-radius: 5px 5px 0px 0px;
}
/* ----- form ----- */

.wrap-inp label{
    width: 50%;
    height: 100px;
    font-weight: 600;
}
.wrap-inp select{
    text-align: center;
    float: initial;
    display: block;
    border: none;
    height: 40px;
    width: 40%;
    padding: 10px;
    line-height: 40px;
    outline: 0;
    max-width: 100%;
    background-color: #e2deba;
    border-radius: 3px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}
.wrap-inp option{
    text-align: center;
}
.wrap-inp input{
    padding: 10px;
    border: none;
    background: #e2deba;
    height: 40px;
    width: 60%;
    border-radius: 3px;
    font-family: 'Roboto',sans-serif;
    max-width: 100%;
    border: 1px solid #e2deba;
    opacity: 0.8;
    font-size: 15px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50px;
}
.single input{
    top: 0;
}
.single label{
    height: 50px;
}
.wrap-inp{
    position: relative;
}
.btn-submit{
    border-radius: 5px !important;
    outline: none;
    font-weight: bold;
    color: #000 !important;
    font-size: 16px;
    padding: 5px 15px;
    background: #fff;
}
.btn-close{
    right: 20px;
    top: 20px;
    padding: 0 5px!important;
    margin: 0!important;
    border: 2px solid #F2C656!important;
    border-radius: 50%;
    opacity: 1;
}
.btn-close span{
    color: #F2C656;
    opacity: 1;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid#F2C656;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
/* ----- ----- */
@media only screen and (max-width:991px){

    .img-rad img{
        width: 100px;
    }
    .group-tag>div{
        flex-direction: column!important;
    }
    .w-50p-mb{
        width: 40px;
    }
    .vertical-post .main-cont{
        width: 80%;
    }
    /* ---- */
    .group-tag a{
        font-size: 8px;
    }
    .group-tag li{
        margin: 5px;
    }
    .group-tag li:after {
        content: '';
        position: absolute;
        background: #282828;
        height: 12px;
        width: 1px;
        top: 8px;
        right: -20px;
    }
    .item-slider{
        padding-right: 15px;
    }
    #num1 .owl-dots{
        bottom: 20px;
    }
}