.my-card .title{
    color: #510909;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
.img-rad img{
    width: 130px;
}
.my-card{
    margin-right: 30px;
}
#num1 .owl-dots button{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 5px;
}
#num1 .owl-dots button.active{
    background: #fff;
}
#num1{
    position: relative;
}
#num1 .owl-dots{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#num1 .owl-nav button{
    position: absolute; 
    top: 50%;
    transform:translateY(-50%);
}
#num1 .owl-nav span{
    font-size: 80px;  
    color: #fff;  
    opacity: 0;
    text-shadow: 0px 0px 10px #dedede;
    transition: all 0.7s;
}
#num1:hover .owl-nav span{
    opacity: 1;
}
#num1 .owl-next{
    right: 10px;
}
#num1 .owl-prev{
    left: 10px;
}
.wrap-slider {
    position: relative;
    z-index: -1;
}
.w-600p{
    width: 600px;
}
.wrap-ytb iframe{
    width: 100%;
    height: 500px;
}

/* ---- songbai ------ */
.tab-collapse .card{
    border: none;
    margin-bottom: 5px;
}
.tab-collapse .card-body{
    padding: 0;
}
.tab-collapse .card-header{
    background: #650B0B;
    text-align: center;
    padding: 0;
    border-radius: 8px;
}
.tab-collapse .card-header .btn{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.tab-collapse .card-header .btn:hover{
    text-decoration: none;
}
.tab-collapse .wrap-list a{
    display: block;
    font-weight: 600;
    color: #282828;
    font-style: italic;
    padding: 10px 15px;
    border-bottom: 1px solid #dedede;
}
.tab-collapse .wrap-list li:last-child a{
    border: none;
}
.tab-collapse .wrap-list a>img{
    position: relative;
    top: -2px;
}

/* ----- khuyenmai ------ */
.vertical-post{
    border-bottom: 1px solid #dedede;
    padding: 20px 0px;
    margin-top: 20px;
}
.vertical-post a.title{
    color: #650B0B;
    font-weight: 300;
    font-size: 15px;
}
.vertical-post a.btn-detail{
    background: #650B0B;
    font-weight: 300;
    color: #fff;
    padding: 7px 20px;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    font-size: 13px;
}
.vertical-post .text{
    font-size: 13px;
}
.vertical-post .img{
    width:200px;
    overflow: hidden;
}
.vertical-post .img img{
    transition: all 0.7s;
    width: 100%;
}
.vertical-post .img img:hover{
transform: scale(1.4,1.4);
}


@media only screen and (max-width:991px){
    .w-600p{
        width: 150px;
    }
    .img-rad img{
        width: 100px;
    }
    .group-tag>div{
        flex-direction: column!important;
    }
    .w-50p-mb{
        width: 50px;
    }
    .vertical-post .main-cont{
        width: 80%;
    }
}